body {
	background-image: url("/images/tora7-cloud.jpg");
	display: grid;
    grid-template-columns: 1fr 60% 1fr;
	grid-template-areas:
		"header header header"
		"sidebar main main"
		"footer footer footer";
    gap: 10px;
	white-space-collapse: collapse;
}

header {
	background-color: white;
	grid-area: header;
	border-radius: 30px;
	padding: 0px 20px 10px;
}

nav a.active {
	opacity: 0.5;
}

main {
	grid-area: main;
}

section {
	background-color: white;
	border: 2px dotted black;
	border-radius: 30px;
	padding: 10px 20px;
	margin-top: 10px;
}

aside {
	background-color: white;
	grid-area: sidebar;
	border: 2px dotted black;
	border-radius: 30px 10px;
	text-align: center;
}

footer {
	background-color: white;
	grid-area: footer;
	border: 2px dotted black;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: small;
}

p {
  font-family: "Cabin", sans-serif;
}

p a {
	text-decoration: underline;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: "Jellee";
	font-size: medium;
}

/* FONTS */
@font-face {
  font-family: "Jellee";
  src: url(/fonts/Jellee-Roman.otf);
}

@font-face {
	font-family: "Cabin";
	src: url(/fonts/Cabin-Regular.otf);
}

@font-face {
	font-family: "Cabin";
	src: url(/fonts/Cabin-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: "Cabin";
	src: url(/fonts/Cabin-Italic.otf);
	font-style: italic;
}

@font-face {
	font-family: "Cabin";
	src: url(/fonts/Cabin-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

li {
	font-family: "Cabin";
	margin-bottom: 10px;
}
ul {
	margin: 0px;
	padding: 0px 10px;
}